[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"
flask-cors = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
pytest = "*"
pytest-flask = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
