h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif !important;
}

body {
  background-color: #e7e2d1 !important;
}

/* App.css */
.app-background {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.sub-label {
  font-size: 14px;
}
