.main-navbar {
  background-color: #ffbc13;
}

.navlink {
  color: white !important;
  font-family: 'Nunito', sans-serif !important;
  text-transform: uppercase;
}

.navlink:hover {
  color: white !important;
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
}

.navbar-logo-text {
  color: white;
  margin-left: 30px;
  justify-content: center;
}
