.main-navbar {
  background-color: #ffbc13;
}

.navlink {
  color: white !important;
  font-family: 'Nunito', sans-serif !important;
  text-transform: uppercase;
  transition: transform 0.3s ease;
}

.navlink:hover {
  color: white !important;
  transform: scale(1.1);
  text-decoration: underline !important;
  text-decoration-style: dotted !important;
}

.navbar-logo-text {
  color: white;
  margin-left: 10px;
  justify-content: center;
}
