.header-text {
  font-family: "Nunito", sans-serif !important;
  color: #ffbc13 !important;
}

.p-text-login {
  font-family: "Nunito", sans-serif !important;
  color: #856a61 !important;
}

.login-button {
  background-color: #ffbc13 !important;
  border: 1px solid #ceb4a7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Corrected soft shadow */
  font-family: "Nunito", sans-serif !important;
}

.forms {
  width: 400px;
}
